@model PizzaCategoryView

<div class="container">
	<form asp-controller="Pizza" asp-action="Delete" method="post">
		@Html.AntiForgeryToken()
		<div class="mb-3">
			<label>ID:</label>
			<input asp-for="Pizza.Id" type="text" class="form-control" disabled />
		</div>
		<div class="mb-3">
			<label>Titolo:</label>
			<input asp-for="Pizza.Nome" type="text" class="form-control" disabled />
		</div>
		<div class="mb-3 form-check">
			<label>Path Immagine:</label>
			<input asp-for="Pizza.Foto" type="text" class="form-control" disabled />
		</div>
		<div class="mb-3">
			<label>Descrizione:</label>
			<input asp-for="Pizza.Descrizione" rows="10" class="d-block w-100" disabled>
		</div>
		<div class="mb-3">
			<label>Prezzo:</label>
			<input asp-for="Pizza.Prezzo" rows="10" class="d-block w-100" disabled>
		</div>
		<div class="mb-3">
			<label>Categoria:</label>
			<input asp-for="Pizza.CategoryId" rows="10" class="d-block w-100" disabled>
		</div>
		<button type="submit" class="btn btn-primary">Elimina pizza</button>
	</form>
</div>
